html, body{
    background-color: #ca1e2c;
}

div{
    background-color: rgb(102, 89, 175);
    border: 1px solid black;
    padding: 12px;
    width: 60%;
    margin: 0 auto;
}

#nombre{
    text-align: center;
}
fieldset{
    margin-bottom: 12px;
}

legend{
    background-color: #ca1e2c;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}

span{
    font-weight: bold;
}

#PaginaPrincipal{
    text-align: center;
}