body{
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
}

.container{
    border: solid 5px;
    border-color: black;
    border-radius: 10%;
    background-color: rgb(194, 20, 20);
    text-align: center;
}

fieldset{
    text-align: center;
    border: black;
    border-radius: 10%;
}